target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/*.properties
!**/src/test/resources/*.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### Operating System Files ###
Thumbs.db
desktop.ini
.DS_Store
